{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
        {# <h1>App google maps</h1> #}
        <div id="mapa" class="capas"></div>

        <div id="datos" class="capas">
			<div id="form">
				<form action="/coords/save/" method="post" id="form_coords">
					{% csrf_token %}
					{{ form.as_p }}
					<p>
						<input type="submit" value="Guardar ubicacion">
					</p>
				</form>

			</div>
			<div id="data">
				<ul>
					{% for ubicacion in ubicaciones %}
						<li>{{ ubicacion.nombre }} {{ ubicacion.user }} <small>- hace {{ ubicacion.fecha|timesince }}</small>  </li>
					{% endfor %}
				</ul>
			</div>
        </div>
{% endblock %}